::ng-deep .IM-Ordersearch input[type="text"] {
  height: unset !important;
  line-height: unset !important;
}

::ng-deep .IM-Ordersearch input[type="search"] {
  height: 36px !important;
  line-height: unset !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: fit-content !important;
}

.input-group input {
  height: 36px !important;
}
