<div class="col-md-3">
    <ng-select [items]="searchOptions"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="searchOptionId"
               [clearable]="false"
               (change)="optionChanged($event)">
    </ng-select>
  </div>
  
  <div class="col-md-3" [class.hide]="!showSearchBox">
    <input type="search" [(ngModel)]="searchValue" placeholder=" ex. 345343">
  </div>
  
  <!--order date-->
  <!-- <div class="col-md-2" [class.hide]="!showOrderDate">
    <ng-select [items]="dateOptions"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="orderDateId"
               [clearable]="false"
               (change)="orderDateChanged($event)">
    </ng-select>
  </div>
  
  <div class="col-md-offset-1 col-md-4 col-sm-8 col-xs-12" [class.hide]="!showOrderDate || !showOrderDateCalendar">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1 to">from</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="orderDateFrom"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1 to">to</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="orderDateTo"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <!--invoice date-->
  <div class="col-md-2" [class.hide]="!showInvoiceDate">
    <ng-select [items]="dateOptions"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="invoiceDateId"
               [clearable]="false"
               (change)="invoiceDateChanged($event)">
    </ng-select>
  </div>
  
  <div class="col-md-offset-1 col-md-4 col-sm-8 col-xs-12" [class.hide]="!showInvoiceDate || !showInvoiceDateCalendar">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1 to">from</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="invoiceDateFrom"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1 to">to</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="invoiceDateTo"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <!--ship date-->
  <div class="col-md-2" [class.hide]="!showShipDate">
    <ng-select [items]="dateOptions"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="shipDateId"
               [clearable]="false"
               (change)="shipDateChanged($event)">
    </ng-select>
  </div>
  
  <div class="col-md-offset-1 col-md-4 col-sm-8 col-xs-12" [class.hide]="!showShipDate || !showShipDateCalendar">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1 to">from</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="shipDateFrom"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1 to">to</div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="input-group">
          <input type="text"
                 placeholder="MM/DD/YYYY"
                 bsDatepicker
                 [(ngModel)]="shipDateTo"
                 [bsConfig]="datePickerConfig">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <!--order status-->
  <div class="col-md-3" [class.hide]="!showOrderStatus">
    <ng-select [items]="orderStatusOptions"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="orderStatusId"
               [clearable]="false">
    </ng-select>
  </div>
   -->
  <!--search button-->
  <div class="searchBTN col-md-1">
    <button (click)="searchClicked()" class="btn btn-primary">Search</button>
  </div>
  