<div class="loading-container" [class.active]="showLoading | async">
  <!-- <div class="loading">
    <img src="{{baseUrl}}/img/loading.gif" />
  </div> -->
</div>

<div class="container-body">
  <router-outlet></router-outlet>
</div>
