<div class="container IM-Ordersearch">
 
    <!--  Heading -->
    <div class="row">
      <h1>Orders</h1>
    </div>
  
    <!--  Search Bar -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <!-- <app-search-criteria></app-search-criteria> -->
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
        <table mat-table [dataSource]="datasour" class="mat-elevation-z8" matSort>

           <ng-container matColumnDef="endUserPO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'endUserPO P.O. #'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.endUserPO}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="ingramOrderNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'IM Order #'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.ingramOrderNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'order Date'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
            </ng-container>
            <ng-container matColumnDef="orderType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Order Type'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.orderType}} </td>
            </ng-container>

             <ng-container matColumnDef="resellerPONumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Reseller P.O. #'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.resellerPONumber}} </td>
            </ng-container>
           
           
           
            <ng-container matColumnDef="shipDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Ship Date'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.shipDate}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Order Total'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Order Status'}} </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
      </div>
    </div>
  
  </div>
  